/* Ecohaven.css */

.diet {
   background-size: cover;
   opacity: 90%;
   background-position: center;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 0px;
   justify-content: flex-start;
 }
 
 .menu {   
  margin-left: -450px;
   padding: 20px;
   border-radius: 9px;
   text-align: center;
   height: 250vh;
   width: 100%;
   max-width: 1000px;
 }
 
 .meals {
   display: flex;
   justify-content: space-around;
   margin-right: 10px;
 }
 
@keyframes highlightStep {
   0% {
     background-color: transparent;
     color: var(--accent-color);
   }
   50% {
     background-color: var(--accent-color);
     color: #fff;
   }
   100% {
     background-color: transparent;
     color: var(--accent-color);
   }
 }
 
 .how {
   text-align: center;
   margin-top: 2rem;
   margin-left: 190px;
 }
 
 .how .words {
   font-size: 2rem;
   font-weight: bold;
   text-align: center;
   margin-left: 190px;
   color: darkblue;
 }
 
 .how-card {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
   margin-top: 2rem;
   padding: 2rem;
   width: 150%;
   max-width: 1000px; 
   margin-left: auto;
   margin-right: auto;
}

 .how-card ol {
   list-style-type: none;
   counter-reset: step;
   text-align: left;
 }
 
 .how-card li {
   font-size: 1.2rem;
   margin: 1rem 0;
   position: relative;
   text-align: left
 }
 
 .how-card li::before {
   content: counter(step);
   counter-increment: step;
   width: 24px;
   height: 24px;
   line-height: 24px;
   text-align: center;
   background-color: var(--accent-color);
   color: #fff;
   border-radius: 50%;
   display: inline-block;
   margin-right: 1rem;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
   text-align: left;
 }
 
 .how-card li:hover::before {
   animation: highlightStep 2s infinite;
 }
 
 @keyframes flickerja {
   0%, 100% {
     border-color: #6ae6e89d;
     box-shadow: 0px 0px 10px #1d4044, 0px 0px 0px rgb(123, 102, 125), inset 3px 3px 3px #8578fa, inset 3px 3px 3px #7dc7dd;
   }
   50% {
     border-color: #80d8e8;
     box-shadow: 0px 0px 10px #244240, 0px 0px 10px rgb(123, 102, 125), inset 3px 3px 3px #8578fa, inset 3px 3px 5px #7dc7dd;
   }
 }
 
 .meal, .luu, .din {
   margin: 20px;
   padding: 10px;
   border: 0.5px solid #8de2df9d;
   border-radius: 9px;
   background-color: #f9f9f9;
   width: 45%;
   height: 300px; 
   animation: flickerja 2s ease-in-out infinite;
 }
 
 .meal {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   width: 20%;
   margin-bottom: 20px;
   transition: transform 0.2s ease;
 }
 
 .meal:hover {
   transform: translateY(-5px);
 }
 
 h2 {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 10px;
   color: #333;
 }
 
 .kif{
   list-style: none;
   padding: 0;
 }
 
 .divii {
   font-size: 1.2rem;
   margin: 5px 0;
   color: #555;
 }
 
 .divii::before {
   content: "•";
   color: #b90a73;
   margin-right: 5px;
 }
 
 .dd {
   font-size: 2rem;
   margin-bottom: 0px;
   padding: 20px;
   font-style: normal;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: darkblue;
   margin-left: 280px;
 }
 