/* Form.css */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
.main1 {
  width: 70%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #36454F;
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  zoom:80%;
}

#photo-label {
    margin-top: 15px;
    display: block;
  }
  
  #photo-input {
    display: block;
    margin-top: 5px; 
  }
  
  #photo-input input[type="file"] {
    display: none;
  }
  
  #photo-input label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer; 
    border-radius: 5px;
    display: inline-block;
  }
  
  #photo-input label:hover {
    background-color: #0056b3; 
  }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    font-family: 'Maven Pro', sans-serif;
   
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: #fff;
  color: #333; 
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px #007bff;
}


h1 {
  margin: 0 auto;
  padding-top: 30px; 
  text-align: center;
  color: #fff5e1;
}

#description {
  text-align: center;
  color: #fff5e1;
}

.body1 {
  padding: 70px 0; 
  background-attachment: fixed;
  background-image: url(https://img.freepik.com/free-photo/3d-illustration-pen-putting-blue-ticks-paper_107791-15675.jpg?w=900&t=st=1700024937~exp=1700025537~hmac=0267c7a337e3ddc53726d91c66f3ccdb794681222f59a6ae2e33407b122ca624);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input, select, textarea {
  width: 100%;
  background-color: #333;
  border: 3px solid #333;
  color: #fff5e1;
  margin: 0 0 15px 0; 
  padding: 10px; 
  border-radius: 5px; 
}

form {
  padding: 0 20px;
}

.inline {
  width: auto;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

select {
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: #fff;
    color: #333;
    margin-bottom: 15px;
  }
  
  select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff; 
  }
  
  select::-ms-expand {
    display: none;
  }
  
  select::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
  }
  