@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
.ab{
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;  
  overflow-x: hidden;
}

.banner {
  
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0,0,0.5)), url(https://images.unsplash.com/photo-1528255671579-01b9e182ed1d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjEwNjUyOTI&ixlib=rb-1.2.1&q=80);
  background-size: cover;
  background-position: center;
}
.logo {
/*   cursor: pointer; */
/*   background-color: #FFEA11; */
margin-left: 5px;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.content h1 {
  text-transform: uppercase;
  font-size: 70px;
  margin-top: 80px;
  font-family: 'Maven Pro', sans-serif;
}
.contentp1 {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
.hometitle{
  font-family: 'Maven Pro', sans-serif;
}

button {
  
  width: 150px;
  height: 40px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color:  #FFEA11;
  cursor: pointer;
  position:relative;
  overflow: hidden;
  
}

.span1 {
  text-align: center;
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position:absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;

}
button:hover .span1 {
  width: 100%;
}
button:hover {
  border: none;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-title {
  font-size: 20px;
  margin: 10px 0;
}

.card-description {
  font-size: 16px;
  color: #666;
}

.read-more-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff; /* Link color */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.read-more-link:hover {
  color: #75cba9; /* Link color on hover */
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}