/* Login.css */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');

.bodylogin {
    font-family: 'Maven Pro', sans-serif; 
    overflow: hidden;
    background-size: 3%;
}

.container11 {
    left: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    right: 370px;
    zoom: 90%;
    top: 90px;
    width: 500px;
    height: 530px;
    position: relative;
    border-radius: 80px;
    overflow: hidden;
    background-color: #46319c45;
    opacity: 80%;
    box-shadow: 2px 2px 4px #111, -2px -2px 4px rgba(50, 50, 50, 0.25), inset 0px 0px 0px #111, inset 0px -0px 0px #555;
}

.container11 .slider {
    width: 200%;
    position: relative;
    transition: transform ease-out 0.3s;
    display: flex;
}

#register_toggle {
    display: none;
}

.container11 #register_toggle:checked + .slider {
    transform: translateX(-50%);
}

.form {
    position: relative;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 1.5em 5em;
    width: 50%;
}

.title1 {
    text-align: center;
    padding-left: 13px;
    font-weight: 800;
    font-size: 2em;
    color: white;
    padding-bottom: 10px;
    font-family: 'Maven Pro', sans-serif;
}

form .form_control {
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .form_control .label {
    position: absolute;
    top: 50%;
    transition: transform ease 0.2s;
    transform: translate(0%, -50%);
    font-size: 0.75em;
    user-select: none;
    pointer-events: none;
    color: #ffca3a;
}

form .form_control .input::placeholder {
    color: #ffca3a;
}

form .form_control .input {
    width: 100%;
    height: 30px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffca3a;
    padding: 0.5rem;
    font-size: 20px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 5px;
    transition: box-shadow ease 0.2s;
    box-shadow: 0px 0px 0px #afdbf3, 0px 0px 0px rgba(117, 171, 200, 0.25), inset 2px 2px 4px #111, inset -2px -2px 4px #555;
}

form .form_control .input:focus,
form .form_control .input:valid {
    box-shadow: 0px 0px 0px #afdbf3, 0px 0px 0px rgba(117, 171, 200, 0.25), inset 4px 4px 6px #111, inset -4px -4px 6px #555;
}

form .form_control .input:focus + .label,
form .form_control .input:valid + .label {
    transform: translate(-150%, -50%);
}

.form .input::placeholder {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}

form button {
    width: 80%;
    cursor: pointer;
    height: 50px;
    font-family: 'Maven Pro', sans-serif; 
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding-left: 16px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: box-shadow ease 0.1s;
    box-shadow: 2px 2px 4px #ff5733, -2px -2px 4px rgba(255, 92, 0, 0.25), inset 0px 0px 0px #ff5733, inset 0px -0px 0px #ffca3a;
}

.bottom_text {
    font-size: 0.9em;
    color: white;
}

.bottom_text .switch {
    font-weight: 700;
    cursor: pointer;
}

.custom-toast-container {
    background-color: #333;
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    padding: 12px;
}

.custom-toast-container .Toastify__toast--success {
    background-color: #4CAF50;
}

.custom-toast-container .Toastify__toast--error {
    background-color: #36f478;
}

.custom-toast-container .Toastify__toast {
    background-color: #333;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    padding: 10px;
}

.custom-toast-container .Toastify__toast-body {
    color: #fff;
}

.dui {
    height: 100vh;
    background-image: url('../img/cbfinal1.png');
    background-size: cover;
    background-position: 0px -100px;
}

@media (max-width: 576px) {
    .container1 {
        width: 90%;
        height: auto;
        top: 90px;
        right: 10px;
        border-radius: 40px;
    }

    .form {
        width: 100%;
        gap: 20px;
        padding: 1.5em 2em;
    }

    form .input {
        font-size: 16px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .container1 {
        width: 60%;
        right: 100px;
    }

    form {
        width: 80%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container1 {
        width: 60%;
    }

    form {
        width: 60%;
    }
}
