/* Navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

.landingNav {
  background-color: #1a1a1a;
  color: #fff;
  display:block;
  justify-content: space-between;
  padding: 1px 1px;
  position: relative;
}

.landingUl {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.LandList1 {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-left: 250px;
    transition: color 0.3s;
  }
  
.LandList {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-left: 50px;
  transition: color 0.3s;
}

.LandList1:hover {
  color: #5ed6c4; 

}
.LandList:hover {
    color: #5ed6c4; 
  
}  


.dropdown-content {
  display: block;
  max-height: 0;
  overflow: hidden; 
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: max-height 0.5s ease-in-out; 
}

.dropdown:hover .dropdown-content {
  max-height: 200px;
}

.dropdown-content a {
  color: #1a1a1a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-top: 1px solid #ccc;
}

.logoimg {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.logoimg:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out; 
}
