/* Physiotherapy.css */

.physio-page {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: linear-gradient(109.6deg, rgb(156, 252, 248) 11.2%, rgb(110, 123, 251) 91.1%);
    
  }
  
  .physio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .physio-step {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; 
  }
  
  .step-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2ec39b;
  }
  
  .step-description {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #123986; 
  }
  
  .physio-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .physio-video {
    padding-left: 130px;
    max-width: 40%;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: -300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .physio-image {
    margin-top: 20px;
    max-width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .physio-step:hover {
    transform: translateY(-5px);
    background-color: #f0f0f0;
  }
  
  .physio-image {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .physio-step:hover .physio-image {
    transform: translateX(0);
  }